.skeleton{
    position: relative;
    z-index: 10px;
    .skeleton-img-block{
        height: 240px;
        width: 100%;
        background: #f4d4c9;;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skeleton-text-block{
        height: 2rem;
        width: 100%;
        background: #f4d4c9;;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
}