.contact {
    padding-top: 4rem;
    ul{
        padding-bottom: 2rem;
    }
    .ml-work-along{
        font-family: "Abril Fatface";
        font-size: 2rem;
    }
    .ml-mariel{
        font-family: "Abril Fatface";
        font-weight: normal;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .send-button{
        background-color: #f4d4c9;
        padding: 1rem;
        border: none;
        color: white;
        cursor: pointer;
    }
    .form-container{
        position: relative;
        .toast-container{
            margin: 0 0 0 auto;
            position: absolute;
            bottom: 0;
        }
    }    
}
