.contact {
    padding-top: 4rem;
    ul{
        padding-bottom: 2rem;
    }
    .ml-work-along{
        font-family: "Abril Fatface";
        font-size: 2rem;
    }
    .ml-mariel{
        font-family: "Abril Fatface";
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
}